@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/** Main Colors for Speechbase Website  */


/** Main Colors for Speechbase Website  */

nav {
    display: flex;
    gap: 3rem;
    min-height: 60px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display: flex;
    margin-right: 1.2rem;
}

.left-nav {
    display: flex;
    margin-left: 1.2rem;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

img.logo {
    width: 68px;
    height: 40px;
}

.hero-section {
    min-height: 84vh;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.9) 95%, black 100%), url("../images/backgrounds/P-87.jpg");
}

.articles-news-section {
    margin-top: -11rem;
    display: flex;
    padding-left: 6rem;
    padding-right: 6rem;
    gap: 4rem;
    padding-bottom: 5rem;
}

.articles-news-section-articles,
.articles-news-section-news {
    flex: 2;
    min-height: 500px;
    max-height: 549px;
    background-color: white;
    border-radius: 15px;
}

.articles-news-section-news {
    flex: 1;
    padding: 18px;
}

.articles-news-section-news-title {
    font-size: 1.5rem;
    color: #6C757D;
}

.articles-news-section-section-title {
    margin-top: -3rem;
    color: #9b7125;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.news-content {
    /* border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.555); */
    padding: 2px 10px 15px 10px;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 1em;
    /* text-align: center; */
}

.news-content:nth-child(odd) {
    background-color: #E8EAF5;
}

.news-container {
    padding: 1em 0em;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.our-specialization {
    padding: 2rem;
    background-color: white;
    min-height: 40vh;
}

.event-gallery {
    background-image: linear-gradient(rgba(255, 255, 255, 0.767) 100%, rgba(255, 255, 255, 0.767) 0%), url("/assets/images/backgrounds/gallery-background.jpeg");
    max-width: 100vw;
}

.event-gallery-gallery-title {
    width: 100%;
    background-color: #E8EAF5;
    color: #E9911A;
    text-align: center;
    padding: 10px 5px;
    font-size: 1.8rem;
    font-weight: 500;
}

.event-gallery-contents {
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 20px;
}

.event-gallery-gallery-images {
    min-width: 320px;
    max-width: 420px;
    max-height: 300px;
    min-height: 280px;
    background-color: burlywood;
    gap: 10px;
}

.event-gallery img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .event-gallery-contents {
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        object-fit: contain;
    }
}

.project-partners {
    background-color: white;
    max-width: 100vw;
    overflow-x: hidden;
}

.project-partners-shape-dividers {
    background-color: transparent;
}

.project-partners .title {
    margin-top: -6rem;
    margin-left: 35rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.project-partners .title span {
    padding-right: 0.3rem;
    color: #E9911A;
}

.project-partners .title span:nth-child(2) {
    color: #6C757D;
}

.project-partners .s2 {
    max-height: 200px;
    max-width: 100%;
    margin-top: 70px;
    padding-left: 5rem;
    background-color: white;
}

.project-partners .s2 img {
    width: 200px;
    height: 120px;
}

footer {
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(7, 7, 7, 0.767) 100%, rgba(255, 255, 255, 0.767) 0%), url("/assets/images/backgrounds/p-103.jpg");
}

footer .footer-top {
    display: grid;
    min-height: 50px;
    place-items: center;
    color: rgba(255, 255, 255, 0.76);
}

footer .footer-top .title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
}

footer .footer-top .events-cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 3rem;
    overflow-y: hidden;
}

footer .footer-top .events-cards .event-contents .top-section {
    position: relative;
    border-radius: 10px;
    margin-top: 2rem;
    min-width: 400px;
    max-width: 400px;
    max-height: 280px;
    min-height: 280px;
    background-color: rgba(12, 11, 11, 0.781);
}

footer .footer-top .events-cards .event-contents .top-section .img {
    position: absolute;
    border-radius: 10px;
    width: 100%;
}

footer .footer-top .events-cards .event-contents .top-section .img img {
    border-radius: 10px;
    height: 280px;
}

footer .footer-top .events-cards .event-contents .top-section .date-holder {
    position: absolute;
    width: 80px;
    height: 90px;
    border: 1px white solid;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #E9911A;
    top: 0%;
    left: 12%;
    font-size: 1.8rem;
}

footer .footer-top .events-cards .event-contents .bottom-section-2 {
    position: absolute;
    z-index: 2;
    bottom: -50px;
    display: grid;
    place-items: center;
    transition: position 1s ease-in-out;
}

footer .footer-top .events-cards .event-contents:hover .bottom-section-2 {
    height: 280px;
    bottom: 0px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.911);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.footer-item {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

div.bottom-section-1 {
    background-color: rgba(0, 0, 0, 0.835);
    color: white;
    padding: 20px 20px 25px 20px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
    border-top: 1px #E9911A solid;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8EAF5;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
}


/** Mixing for set width and height */

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #E9911A;
}


/*# sourceMappingURL=styles.css.map */